@layer presets {
  :root {
    display: grid;
    min-height: 100%;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    font-family: Arial, Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    white-space: pre-wrap;
    white-space-collapse: preserve
  }
  a.w-element {
    box-sizing: border-box
  }
  body.w-element {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0
  }
  button.w-element {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    text-transform: none;
    margin: 0
  }
  div.w-element {
    box-sizing: border-box
  }
  form.w-element {
    box-sizing: border-box
  }
  h1.w-element {
    box-sizing: border-box
  }
  h2.w-element {
    box-sizing: border-box
  }
  h3.w-element {
    box-sizing: border-box
  }
  h5.w-element {
    box-sizing: border-box
  }
  h6.w-element {
    box-sizing: border-box
  }
  input.w-element {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    margin: 0
  }
  p.w-element {
    box-sizing: border-box
  }
  select.w-element {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    text-transform: none;
    margin: 0
  }
  span.w-element {
    box-sizing: border-box
  }
  img.w-image {
    box-sizing: border-box;
    max-width: 100%;
    display: block;
    height: auto
  }
  div.w-html-embed {
    display: contents;
    white-space: normal;
    white-space-collapse: collapse
  }
  div.w-popover-content {
    box-sizing: border-box
  }
  div.w-dialog-overlay {
    box-sizing: border-box
  }
  div.w-dialog-content {
    box-sizing: border-box
  }
  button.w-close-button {
    background-color: transparent;
    background-image: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    text-transform: none;
    border: 0px solid rgb(226 232 240 / 1);
    margin: 0;
    padding: 0px
  }
}
@media all {
  .c16q36l8 {
    background-image: url("/assets/background-image_XSODI03e3Ia61QzCytqVX.webp")
  }
  .c15oxt91 {
    background-size: cover
  }
  .c12sjyio {
    background-repeat: no-repeat
  }
  .c1rkcx2y {
    height: 100lvh
  }
  .c3ahk9b {
    width: 100%
  }
  .c1rd5476 {
    align-items: center
  }
  .cp4jn5r {
    justify-content: center
  }
  .c1eh2421 {
    background-position: 50% 50%
  }
  :root {
    color: white;
    position: relative
  }
  .c1a5b44t {
    position: fixed
  }
  .cqh24re {
    top: 0px
  }
  .cjcp89t {
    display: flex
  }
  .c180pzta {
    flex-wrap: wrap
  }
  .c3c4h76 {
    column-gap: 8px
  }
  .cwlzcrb {
    row-gap: 8px
  }
  .c1hhhw8u {
    z-index: 1024
  }
  .c1hgp8ez {
    padding: 8px
  }
  .cit0ry8 {
    background-color: white
  }
  .c6re3fl {
    border-top-left-radius: 32px
  }
  .ci9kji3 {
    border-top-right-radius: 32px
  }
  .c1gyv5r {
    border-bottom-left-radius: 32px
  }
  .c1boufn6 {
    border-bottom-right-radius: 32px
  }
  .c94afts {
    width: 128px
  }
  .cnoex4l {
    border: 8px solid white
  }
  .crz3jjw {
    text-align: center
  }
  .c18u4sn0 {
    margin-top: 0em
  }
  .cay4v31 {
    margin-bottom: 0em
  }
  .c1siftvj {
    display: grid
  }
  .c1c46zyi {
    align-items: start
  }
  .cjwwxu4 {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))
  }
  .c1pi04ju {
    height: 100%
  }
  .ch4lttr {
    scrollbar-width: none
  }
  .c10t9lec {
    overflow-y: auto
  }
  .cq3120r {
    overflow-x: hidden
  }
  .c6a8nf8 {
    flex-direction: column
  }
  .c14243yp {
    position: relative
  }
  .cbrm5au {
    background-color: rgb(255 255 255 / 0.5)
  }
  .c1rfngb2 {
    border-top-left-radius: 16px
  }
  .cdbrifo {
    border-top-right-radius: 16px
  }
  .czgoo5u {
    border-bottom-left-radius: 16px
  }
  .c1ypp1ou {
    border-bottom-right-radius: 16px
  }
  .c12g0j59 {
    background-image: none
  }
  .c1vepfxe {
    background-color: rgb(0 0 0 / 0.5)
  }
  .ca6si8j {
    position: absolute
  }
  .ckg6r0n {
    bottom: 0px
  }
  .c1l9ehyu {
    padding: 16px
  }
  .c15xqegm {
    justify-content: end
  }
  .clum4mu {
    aspect-ratio: 1/1
  }
  .c97jkuu {
    height: 1.8rem
  }
  .c7eufua {
    width: 1.8rem
  }
  .c1l7fn7t {
    text-align: start
  }
  .cyckhqq {
    background-color: rgb(255 255 255 / 0.8)
  }
  .c1eeps4y {
    border-top-left-radius: 100px
  }
  .cwsk5yy {
    border-top-right-radius: 100px
  }
  .c1rihdwx {
    border-bottom-left-radius: 100px
  }
  .c1hdmpoj {
    border-bottom-right-radius: 100px
  }
  .c7pgw9v {
    top: 16px
  }
  .c1j98ua7 {
    right: 16px
  }
  .c1gub7oy {
    color: white
  }
  .c18s8acv {
    border-top-style: none
  }
  .czb4jv4 {
    border-right-style: none
  }
  .coyqu99 {
    border-left-style: none
  }
  .c1j9p1xu {
    border-bottom-style: none
  }
  .c1ee89dn {
    background-color: rgb(239 68 68 / 1)
  }
  .c1n5e6oe {
    height: 1.2rem
  }
  .c17fuu {
    width: 1.2rem
  }
  .c11jzbl9 {
    background-color: rgb(234 179 8 / 1)
  }
  .c1alml9i {
    color: transparent
  }
  .ccn1oii {
    border: 8px solid transparent
  }
  .c13l384m {
    overflow-y: hidden
  }
  .c1pa7jn4 {
    row-gap: 16px
  }
  .c1mxxlpg {
    column-gap: 16px
  }
  .c1xgciw0 {
    max-width: 720px
  }
  .c15pzwiw {
    width: 1.5rem
  }
  .cu1q650 {
    height: 1.5rem
  }
  .crqq94w {
    object-fit: cover
  }
  .c1cqlae7 {
    max-width: 1200px
  }
  .c1dgl5z3 {
    outline-style: solid
  }
  .cdksavi {
    outline-color: transparent
  }
  .c12lfe7k {
    background-color: transparent
  }
  .c1oadhsh {
    z-index: 1025
  }
  .cxn3gcz {
    display: none
  }
  .c1tu2t1g {
    padding-top: 8px
  }
  .c1u2pv8x {
    padding-bottom: 8px
  }
  .c3f32g1 {
    padding-left: 12px
  }
  .c9e9fbb {
    padding-right: 12px
  }
  .cel0lyz {
    background-color: rgb(34 197 94 / 1)
  }
  .c10kpdgh {
    padding: 4px
  }
  .c181rm93 {
    left: 16px
  }
  .czsfm73 {
    padding-top: 4px
  }
  .c1qmp4aw {
    padding-bottom: 4px
  }
  .cum4qtd {
    padding-left: 24px
  }
  .c1dxqucu {
    padding-right: 24px
  }
  .c1w9szfg {
    width: 200px
  }
  .cjdyhdf {
    outline: medium none currentcolor
  }
  .ci1yxgc {
    justify-content: start
  }
  .c1iwc9o {
    color: black
  }
  .cc38u8d {
    top: 0
  }
  .cdsfmpq {
    right: 0
  }
  .c1fcrez1 {
    bottom: 0
  }
  .cysgfvr {
    left: 0
  }
  .c15ndkzq {
    align-items: end
  }
  .cit5cfb {
    z-index: 1026
  }
  .c136bqtx {
    margin-right: auto
  }
  .c1m3fcc4 {
    margin-left: auto
  }
  .ckr14lr {
    margin-top: auto
  }
  .c16mp2wf {
    max-height: 90%
  }
  .c1oye3ih {
    opacity: 0.7
  }
  .c1by2qzo:hover {
    opacity: 1
  }
  .c1v30ll2:focus-visible {
    box-shadow: 0 0 0 2px rgb(255 255 255 / 1), 0 0 0 calc(2px + 2px) rgb(148,163,184)
  }
  .c157w5f8 {
    justify-content: space-around
  }
  .c1vs9afz {
    flex-grow: 1
  }
  .c1tdickn {
    width: 64px
  }
  .c1m7sov0 {
    border: 4px solid white
  }
  .cvurj56 {
    background-color: rgb(255 255 255 / 1)
  }
  .c168id4u {
    width: 50%
  }
  .c19ye7wl {
    padding-top: 12px
  }
  .c1iyxo74 {
    padding-bottom: 12px
  }
  .c1ryb23c {
    padding-left: 16px
  }
  .c1vomsuo {
    padding-right: 16px
  }
  .cxnf9wh {
    margin-bottom: 0px
  }
  .c3cdaew {
    line-height: 1.8
  }
  .cjsimt8 {
    background-color: rgb(249 115 22 / 1)
  }
  .c1tik0zx {
    background-color: rgb(6 182 212 / 1)
  }
  .ccy5mty {
    background-color: rgb(59 130 246 / 1)
  }
  .cjo0crk {
    padding: 12px
  }
  .c1rok6iw {
    max-width: 360px
  }
  .c1j2yf13 {
    max-height: 100%
  }
  .cy9dtll {
    margin: auto
  }
  .csdsu1i {
    -webkit-backdrop-filter: blur(0 1px 2px 0 rgb(0 0 0/0.05));
    backdrop-filter: blur(0 1px 2px 0 rgb(0 0 0/0.05))
  }
  .cnzcxi4 {
    outline-color: rgb(59 130 246 / 1)
  }
  .c11x6m83 {
    align-items: stretch
  }
  .c1nc2et5 {
    background-color: rgb(59 130 246 / 0.4)
  }
  .czd1bxh {
    background-color: rgb(59 130 246 / 0.8)
  }
  .c149u1je {
    width: 48px
  }
  .c8y3oes {
    padding-left: 8px
  }
  .cl5ymcv {
    width: 80px
  }
  .cvxspf0 {
    background-color: rgb(168 85 247 / 1)
  }
  .cnqqebv {
    z-index: 9999
  }
  .cy8k5j6 {
    left: 0px
  }
  .c1y01spr {
    right: 0px
  }
  .cdb3q6i {
    background-image: linear-gradient(rgb(0 0 0/0.51) 0%,rgb(0 0 0/0.5) 100%), url("/assets/background-image_XSODI03e3Ia61QzCytqVX.webp")
  }
  .c1fl4uzl {
    background-repeat: no-repeat, no-repeat
  }
  .c1i5ppm1 {
    background-size: cover, cover
  }
  .c4hgole {
    background-attachment: scroll, scroll
  }
  .c5ninop {
    -webkit-background-clip: border-box, border-box;
    background-clip: border-box, border-box
  }
  .c1jp9iwn {
    background-origin: padding-box, padding-box
  }
  .c1b1945k {
    background-blend-mode: normal, normal
  }
  .czs6mmf {
    background-position: 50% 50%, 50% 50%
  }
  .cf3tgqi {
    height: 50%
  }
}
@media all and (max-width: 600px) {
  .c1b9mvbd {
    grid-template-columns: 100%
  }
  .cgrmcgs {
    display: none
  }
}